CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea

#project specific
uxp1a-linda.exe
uxp1a-linda.cbp
uxp1a-linda
linda-server
linda-test


test/testBin