<form asp-action="CreateProject" style="width: 30%;">
    <div>
        <label>Project name</label>
        <input name="projectName" class="form-control">
    </div>
    <div>
        <label>Budget</label>
        <input name="budget" class="form-control" type="number">
    </div>
    <div>
        <label>Subcategory #1</label>
        <input name="subcategory1" class="form-control">
    </div>
    <div>
        <label>Subcategory #2</label>
        <input name="subcategory2" class="form-control">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<br><br><br>

<form asp-action="ProjectSummaries" style="width: 30%;">
    <button type="submit" class="btn btn-primary">Back</button>
</form>
